body {
 background-image: url(../fotos/bpg.jpg);
 background-size: cover;
 background-position: fixed;
 background-attachment: fixed;
}






h1 {
    font-size: 5em;
    font-family: 'Courier New', monospace;
    text-align: center;
   
    color: black;
}

p {
    font-size: large;
    font-family: '', monospace;
    
    color: black;
    text-align: center;
    width: 50%;
    position: relative; 
    left: 25%;
    font-weight: 700    ;
}

b {
    font-size: x-large;
}


.container {
 background-color: rgba(255, 255, 255, 0.623);
 box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.123);
 position: fixed;
 height: 100%;
 top: 0;
 left: 0;
 width: 6%;
 transition: all 0.5s ease;
 margin: 0 auto;
 display: flex;
 justify-content: center; 
 text-align: center;
 

}


.container:hover {
    width: 12%;
}





li {
    list-style-type: none;
    text-align: center;
    gap: 100%;
    padding-bottom: 0;
    font-size: 70%;
    font-family: 'Courier New', monospace;
    font-weight: 300;
    left: 0;
    text-align: center;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.445);
    color: black;
    transform: rotate(90deg);
    transition: all 0.5s ease;
}


.container:hover li {
    padding: 0;
    padding-bottom: 100%;
    transform: rotate(0deg); 
   
}


a {
    
    color: inherit;   
}
nav a {
    padding: 7%;
    font-size: 150%;
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
    position: relative;

}

nav    a:hover {
    
    border-radius: 5%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px black;
    color: black;
}


video {
    width: 100vw;
}

img  {
    position:  relative;
    width: 50vw;
    left: 25vw;
}

b {
    color: white;
}